:root {
  --bg-color: #2c2c2c;
  --text-main-color: #fff;
  --text-secondary-color: #b0b0b0;
  --border-calendar-color: #808080;
  --bg-color-calendar-selected: #ff7300;
  --bg-color-calendar-hover: #414141;
  --scrollbar-calendar-color: #ccc;
  --scrollbar-calenadar-color-hover: #aaa;
  --text-selected-day-calendar-color: #472715;
  --button-update-color: #7ae2ae;
  --loader-primary-color: #3b3b3b;
  --loader-secondary-color: #4c4c4c;
  --bg-color-tasklistitem-hover: #3f3f3f;
  --bg-color-form: #2c2c2c;
  --color-icon: #ffffff;
  --border-app-color: #3f3f3f;
  --button-main-color: #ff7300;
  --button-delete-color: #ff4d4d;
  --button-text-color: #000000;
  --button-main-color-hover: #ff9c4d;
  --button-disabled-color: #ccc;
}

html {
  background-color: var(--bg-color);
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-family: 'Mulish', serif;
  font-size: 14px;
  color: var(--text-main-color);
}

.leaflet-control-attribution {
  display: none;
}
